<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber1">
  <tr>
    <td width="100%" bgcolor="#EAFBFF" height="35">
    <font size="2" face="Verdana">
      <b><font color="#0099C6">&nbsp;&nbsp;&nbsp; </font><a style="text-decoration: none" href="index.php?act=show_preferences">
      <font color="#0099C6">Change Preferences</font></a></b><a style="text-decoration: none" href="index.php?act=show_preferences"><font color="#0099C6">
    </font> </a> </font><b>
      <font color="#0099C6">|</font></b><font color="#0099C6"> </font>
    <font size="2" face="Verdana">
      <a href="index.php?act=change_password" style="text-decoration: none; font-weight:700">
      <font color="#0099C6">Change Password</font></a></font><font color="#0099C6">&nbsp;
    </font></td>
  </tr>
</table>