
#timeline-section {
    background: url("../images/loading.gif") no-repeat scroll center center #fff;
    /*border: 1px solid #dedede;*/
}
#timeline-section .slide {
    background: url("../images/slide2.jpg") repeat scroll 0 0 #fff;
    color: #3c3c3c;
    font: 20px/120% "segoe ui",helvetica,arial,sans-serif;
    padding: 140px 45px 0;
}
#timeline-section .timeline {
    background: none repeat scroll 0 0 #ddd;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ccc;
}
#timeline-section .innertimeline {
    background: none repeat scroll 0 0 #cf3300;
}
#timeline-section .timedisplay {
    color: #777;
}
#timeline-section .node {
    background: url("../images/node.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 26px;
    width: 26px;
}
#timeline-section .node_active {
    background: url("../images/node_active.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#timeline-section .tooltip {
    background: none repeat scroll 0 0 #fff;
    border-radius: 6px;
    opacity: 0.8;
    padding: 5px 8px;
}
#timeline-section .tooltiptime {
    font-size: 8pt;
    font-weight: bold;
}
#timeline-section .pause, #example1 .play {
    border-radius: 6px;
    box-shadow: 0 0 10px #bbb;
    height: 80px;
    width: 80px;
}
#timeline-section .pause {
    background: url("../images/pause.gif") no-repeat scroll center center #fff;
}
#timeline-section .play {
    background: url("../images/play.gif") no-repeat scroll center center #fff;
}
#timeline-section .previous, #example1 .next {
    height: 50px;
    width: 43px;
}
#timeline-section .previous {
    background: url("../images/previous.gif") no-repeat scroll center center #fff;
    border-radius: 6px 0 0 6px;
}
#timeline-section .next {
    background: url("../images/next.gif") no-repeat scroll center center #fff;
    border-radius: 0 6px 6px 0;
}
