a {
	color:#000;
	}
ul.tabs {
	margin-top: -14px;
	padding: 0px;
	
	float: left;
	position:absolute;
	list-style: none;
	height: 22px; /*--Set height of tabs--*/
	width: 200px;
	font-family:Arial, Helvetica, sans-serif; 
	z-index:1000;
}
ul.tabs li {
	float: left;
	margin:0px 2px 0px 0px;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 25px; /*--Vertically aligns the text within the tab--*/
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	font-weight:bold;
	
	
}
ul.tabs li a {
	text-decoration: none;
	color: #666666;
	display: block;
	font-size: 13px;
	padding: 0 7px;
	border: 1px solid #ccc; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
	border-bottom:none;
}
ul.tabs li a:hover {
color:#000000;
background-color:#999999;
border:none

	
}
html ul.tabs li.active a, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	color:#000000;
	background-color:#EEEEEE;
	border:none

	
}

#logo-text {
font-family:‘Trebuchet MS’,Helvetica,sans-serif;
font-size:18pt;
padding-left:15px;
text-align:left;
}



*{margin:0px auto 0px auto;padding:0px auto 0px auto;}body{float:none;font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;color:#303030;background:#666666;}#container{width:900px;margin:20px auto;padding:1px 0;background:#ffffff;color:#303030;border:2px solid#a0a0a0;}#header{height:90px;width:758px;margin:0 1px 1px 1px;background:#467aa7;color:#ffffff;}#header h1{padding:35px 0 0 20px;font-size:2.4em;background-color:inherit;color:#ffffff;letter-spacing:-2px;font-weight:normal;}#header h2{margin:10px 0 0 40px;font-size:1.4em;background-color:inherit;color:#f0f2f4;letter-spacing:-1px;font-weight:normal;}#main{width:730px;float:left;color:#ffffff;display:inline-table;margin:10px 0px 0px 15px;}#report{width:252px;float:right;color:#ffffff;font-size:12px;margin-right:0px;}
#navigation{height:1.5em;width:100%;float:left;margin:10px 0px 0px 14px;color:#000000;vertical-align:bottom; }#navigation ul{float:left;padding:0; margin:0}
#navigation li{float:left;list-style-type:none;white-space:nowrap;vertical-align:middle;line-height: 1.5em;padding: 0px 1px ;}
#navigation li a{display:block;font-size:13px;font-weight:normal;text-decoration:none;padding: 0px 9px;background-color:6D6D6D;color: #000000;font-weight:bold;
}* html #navigation a {width:1%;}#navigation a:hover{background:#999999;color:#ffffff;text-decoration:none;font-weight:bold;}#navigation #selected{
background:#999999;color:#ffffff;text-decoration:none;font-weight:bold;}
*/#text{margin:0 0 0px 0px;font-size:14px;font-weight:normal;color:#000000;font-family:verdana,Helvetica,sans-serif;}#nb-text{margin:0 0 0px 0px;padding-left:10px;font-size:0.8em;font-weight:normal;color:#000000;font-family:Arial,Helvetica,sans-serif;}#footer{float:none;padding:5px 0;margin:0px 1px;font-size:0.8em;height:3em;color:#ffffff;}.header{font-family:Arial;font-size:14pt;color:#000000;font-weight:bold;text-align:center}.header1{font-family:Arial;font-size:14pt;color:#333333;font-weight:bold;padding-left:10px;text-align:left;}.subheader1{font-family:Arial;font-size:10pt;color:#686868;font-weight:bold;padding-left:10px;}.popuptext{font-family:arial;font-size:10pt;color:#414141;font-weight:bold;padding-left:10px;}.popuptext a:link{font-family:arial;font-size:10pt;color:#414141;font-weight:bold;}.popuptext a:visited{color:#414141;}.popuptext a:hover{color:#414141;}.txt1{font-family:Verdana;font-size:9pt;text-align:left;text-indent:;word-spacing:0;margin-left:0pt;line-height:150%}.txt{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;}
.tablehead
{
	font:76%Verdana,Tahoma,Arial,sans-serif;
	line-height:1.4em;
	text-align:left;
	font-size:10pt;
	font-weight:bold;
	padding-left:10px; 
	color:#000000;
}
.tablehead a:link
{
	font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;
	text-align:left;
	font-size:10pt;
	font-weight:bold;
	color:#000000;
	padding-left:10px;
	text-decoration:underline;
}


.tablehead a:visited
{
	font:76%Verdana,Tahoma,Arial,sans-serif;
	line-height:1.4em;
	text-align:left;
	padding-left:10px;
	font-size:10pt;
	font-weight:bold;
	color:#000000;
	text-decoration:underline;
}
.tablehead a:hover
{
	font:76%Verdana,Tahoma,Arial,sans-serif;
	line-height:1.4em;
	text-align:left;
	padding-left:10px;
	font-size:10pt;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
}
.tablehead
{
	font:76%Verdana,Tahoma,Arial,sans-serif;
	line-height:1.4em;
	text-align:left;
	padding-left:10px;
	font-size:10pt;
	font-weight:bold;
	padding-left:10px;
}

.imagetext{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:10pt;color:#FFFFFF;font-weight:bold;}.tabletext{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;padding:10px;}.tabletextn{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:center;font-size:9pt;font-weight:normal;}#tabletextred1
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#000000;text-decoration:underline;}#tabletextred1 a:link,#tabletextred1 a:hover,#tabletextred1 a:visited
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#000000;text-decoration:none;}.tabletextred{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#000000;text-decoration:underline;padding-left:10px;}#tabletextred a:link,#tabletextred a:visited
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#000000;text-decoration:underline;padding-left:10px;}#tabletextred a:hover
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#a4a3ac;text-decoration:underline;padding-left:10px;}.tabletextred
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#000000;text-decoration:underline;padding-left:10px;}.tabletextred a:link
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#000000;text-decoration:underline;padding-left:10px;}.tabletextred a:visited
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#000000;text-decoration:underline;padding-left:10px;}.tabletextred a:hover
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#a4a3ac;text-decoration:underline;padding-left:10px;}.tabletextred2
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#333333;text-decoration:underline;}.tabletextred2 a:link
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#333333;text-decoration:underline;}.tabletextred2 a:visited
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#333333;text-decoration:underline;}.tabletextred2 a:hover
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#a4a3ac;text-decoration:underline;}.tabletext1{font:76%Arial Narrow,Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;padding-left:15px;padding-bottom:5px;font-size:10pt;font-weight:bold;}.text{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;}.text a:link{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;text-decoration:none;color:#000000;}.text a:visited{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;text-decoration:none;color:#000000;}.text a:hover{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;text-decoration:underline;color:#000000;}.textb{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:10pt;font-weight:bold;}.date{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:right;font-size:10pt;font-weight:bold;}.normaltext{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:9pt;font-weight:normal;padding-left:0px;}.instructions{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:10pt;font-weight:bold;text-align:right;padding-left:0px;}.mytext{font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:12px;color:#000000;text-align:left;}
#buttonred{color:#ffffff;border:1px solid #95939E;background-color:#DD0016;font-weight:bold; padding-left:5px; padding-right:5px; padding-bottom:2px;}
#buttongray{color:#000000;border:1px solid #95939E;background-color:#eeeeee;font-weight:bold;padding-left:2px; padding-right:2px; padding-bottom:2px;font-family:Verdana; height:25px}
.terms{font:76%Verdana,Tahoma,Arial,sans-serif;font-size:9pt;font-weight:normal;color:#000000;text-decoration:none;}.terms a:link{font:76%Verdana,Tahoma,Arial,sans-serif;font-size:9pt;font-weight:normal;color:#000000;text-decoration:underline;}.terms a:visited{font:76%Verdana,Tahoma,Arial,sans-serif;font-size:9pt;font-weight:normal;color:#000000;text-decoration:underline;}.terms a:hover{font:76%Verdana,Tahoma,Arial,sans-serif;font-size:9pt;font-weight:normal;color:#a4a3ac;text-decoration:underline;}<!--New style-->#tabletextred1
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#FF0000;text-decoration:underline;}#tabletextred1 a:link,#tabletextred1 a:hover,#tabletextred1 a:visited
{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:left;font-size:9pt;font-weight:normal;color:#FF0000;text-decoration:none;}

#n{height:1.5em;width:900px;margin:10px 0px 0px 25px;color:#ffffff;vertical-align:bottom;}#n ul{float:left;padding:0; margin:0}#n li{float:left;list-style-type:none;white-space:nowrap;vertical-align:middle;line-height:1.5em;padding:0px 2px 0px 0px;}#n li a{display:block;font-size:0.8em;font-weight:normal;text-decoration:none;padding:0px 10px;background-color:6D6D6D;color:#ffffff;font-weight:bold;}*html#n a{width:1%;}#n a:hover{background:#999999;color:#ffffff;text-decoration:none;font-weight:bold;}#n#selected
{background:#999999;color:#ffffff;text-decoration:none;font-weight:bold;}
.heading{ background-image:url(images/heading-bg.jpg); background-repeat:repeat-x; height:36px; font-family:Arial;font-size:13pt;color:#333333;font-weight:bold;padding-left:10px;text-align:left;}
.heading-popup{ background-image:url(images/heading-bg.jpg); background-repeat:repeat-x; height:36px; font-family:Arial;font-size:15pt;color:#333333;font-weight:bold; padding-left:10px; text-align:left;}
#heading-popup{ background-image:url(images/heading-bg.jpg); background-repeat:repeat-x; height:36px; }
input{ margin-top:1px; padding-left:2px; height:18px; outline:none}
textarea{margin-top:3px; margin-bottom:3px; padding-left:2px;}
.login-1{font-family:Arial;font-size:30pt;color:#000000; line-height:1.3em;font-weight:bold;text-align:left;}
.login-2{font-family:Arial;font-size:16pt;color:#000000; line-height:1.3em; font-weight:bold;text-align:left;}
.login-6{font-family:Arial;font-size:23pt;color:#000000; line-height:1.3em;font-weight:bold;text-align:left;}


.top-link
{
text-decoration:none;
font-size:12px;
}



table#popup
{
width:100%;
text-align:center;
border: solid 0px #FF0000;
}

table#popup tr td.center
{
padding-left:15px;
border-bottom:none
}

table#popup th.heading{ background-image:url(images/heading-bg.jpg); background-repeat:repeat-x; height:36px; font-family:Arial;font-size:13pt;color:#000000;font-weight:bold;padding-left:10px;text-align:left;}

table#popup th 
{
background-image:url(images/heading-bg.jpg); background-repeat:repeat-x; height:36px; font-family:Arial;font-size:15pt;color:#000000;font-weight:bold; padding-left:10px; text-align:left;
}

th 
{
background-image:url(images/heading-bg.jpg); background-repeat:repeat-x; height:36px; font-family:Arial;font-size:15pt;color:#000000;font-weight:bold; padding-left:10px; text-align:left;
}
.link{ padding-right:10px;  text-align:right}
.link a:link{font-family:Arial;font-size:15pt;color:#000000;font-weight:bold;font:76%Verdana,Tahoma,Arial,sans-serif;font-size:9pt;font-weight:normal; text-align:right; color:#333333; text-decoration:underline; }
.link a:visited{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:9pt;font-weight:normal; color:#333333; text-decoration:underline; text-align:right }
.link a:hover{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:9pt;font-weight:normal; color:#000000; text-decoration:none; text-align:right } 

table#popup th.help 
{
background-image:url(images/heading-bg.jpg); background-repeat:repeat-x; height:36px; font-family:Arial;font-size:15pt;color:#333333;font-weight:bold; padding-right:10px; text-align:right;
}

th.help 
{
background-image:url(images/heading-bg.jpg); background-repeat:repeat-x; height:36px; font-family:Arial;font-size:15pt;color:#333333;font-weight:bold; padding-right:10px; text-align:right;
}

table#popup tr.norow td {font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:9pt;font-weight:normal; color:#333333; padding-bottom:3px; padding-top:3px; height:30px; border-bottom:none; text-align:left; }

table#popup tr.text td {font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:9pt;font-weight:normal; color:#333333; padding-bottom:3px; padding-top:3px; height:30px; border-bottom:none; text-align:left; }

table#popup tr td.descp {font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:9pt;font-weight:normal; color:#333333; padding-bottom:3px; padding-top:10px; border-bottom:none; text-align:left; }

table#popup tr.hnone td {font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:9pt;font-weight:normal; color:#333333; padding-bottom:3px; padding-top:3px; height:15px; border-bottom:none; text-align:left; }

table#popup tr.blank td {height:15px; border-bottom:#cccccc solid 1px; text-align:left; }



table#popup tr.pnone td {font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:9pt;font-weight:normal; color:#333333; height:15px; border-bottom:none; text-align:left; padding:0px }

table#popup tr td#msg{font-size:13px;font-weight:normal;color:#ff0000;font-family:Arial,Helvetica,sans-serif; height:auto; text-align:center; padding-bottom:3px;}
#msg{font-size:13px;font-weight:normal;color:#ff0000;font-family:Arial,Helvetica,sans-serif; height:auto; text-align:center; padding-bottom:3px;}

table#popup tr td{ font:76%Verdana,Tahoma,Arial,sans-serif; line-height:1.4em;height:30px;font-size:9pt;font-weight:normal; color:#333333; padding-bottom:3px; padding-top:3px; border-bottom:#cccccc solid 1px; text-align:left;  }


table#popup tr td a:link{font:76%Verdana,Tahoma,Arial,sans-serif;font-size:9pt;font-weight:normal; color:#333333; text-decoration:underline; }
table#popup tr td a:visited{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:9pt;font-weight:normal; color:#333333; text-decoration:underline; }
table#popup tr td a:hover{font:76%Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;font-size:9pt;font-weight:normal; color:#000000; text-decoration:none; } 



/*#popup table td{font:76%Verdana,Tahoma,Arial,sans-serif; line-height:1.4em;height:30px;font-size:9pt;font-weight:normal; color:#333333; padding-bottom:3px; padding-top:3px; border-bottom:#cccccc solid 1px}*/

#help-img
{
float:right;
padding-right:10px
}



.clogin-1
{
font:arial, Verdana, Arial;
font-size:11pt;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.clogin-2
{
font-size:26px; text-align:center; border-bottom:2px #cccccc solid; padding-top:15px; padding-bottom:15px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#000000;
}


#tabs
{
float:left;
margin:0px; padding:0px;
}

#tabs ul {
	margin:0px 0px 0px 0px;
	padding: 0px;
	float: left;
	list-style: none;
	height: 22px; /*--Set height of tabs--*/
	width: auto;
	font-family:Arial, Helvetica, sans-serif; 
	z-index:1000;
}
#tabs ul li {
	float: left;
	margin:0px 1px 0px 0px;
	padding: 0;
	height: 22px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 25px; /*--Vertically aligns the text within the tab--*/
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	font-weight:bold;
	
	
}
#tabs ul li a,
#tabs ul li a:visited {
	text-decoration: none;
	color: #666666;
	display: block;
	font-size: 13px;
	padding: 0px 7px 5px 7px;
	border: 1px solid #ccc;
	outline: none;
	height: 20px; 
	line-height: 20px; 
	border-bottom:none;
	background-color:#eeeeee
}


#tabs ul li a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color:#666666;
	display: block;
	font-size: 13px;
	padding: 0px 7px 5px 7px;
	border: 1px solid #ccc;
	outline: none;
	border-bottom:none;
}

.boxy-wrapper .title-bar { background-color:#CCCCCC; padding:6px 6px 6px 10px; position: relative; }
	  .boxy-wrapper .title-bar.dragging { cursor: move; }
	    .boxy-wrapper .title-bar h2 { font-size: 16px; color: #000000; line-height: 1; margin: 0; padding: 0; font-weight:normal; cursor:move }
	    .boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 90%; line-height: 1; }





		
#menu-bg
{
	background:url(images/menu-bg.png) 0 0 repeat-x;  height:74px; width:985px;
	clear:both; position:relative;
	
}


div#menu {
    height:35px;
    padding-left:0px;
    width:auto;
	position:absolute;
	float:left;
	top:0px; left:60px;
	border:0px solid #ff0000;
	z-index:1000
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

div#menu ul.menu {
    padding-right: 8px;
  }

div#menu li {
    position: relative;
    margin: 0;
    padding: 0 0 0 0;
    display: block;
    float: left;
    z-index: 9;
    width: auto;
	margin-right:3px;
}

div#menu ul ul li {
    z-index: 9;
	margin-right:0px;

}

div#menu li div {
    list-style: none;
    float: left;
    position: absolute;
    z-index: 11;
    top: 74px;
    left: 0;
    visibility: hidden;
    padding: 0 0 0px 0px;
    margin: 0px 0 0 0px;
	border:1px solid #d50404;
	background-color:#ff4c4c;
	border-bottom:none;
	width:180px;
}

div#menu li:hover>div {
    visibility: visible;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: auto;
    display: block;
    float: left;
    line-height: 30px;
    text-decoration: none;
    margin-top: 1px;
    white-space: nowrap;
    width: auto;
    padding-right: 5px;
    text-align: center;
}

div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    text-align: center;
}


div#menu ul.menu>li:hover>a {
    padding: 15px 0px 0px 20px;
	line-height:75px;
	height:58px;
	background-color: #ff0000;
		background-color: #ff0000;
 -khtml-opacity:.70; 
 -moz-opacity:.70; 
 -ms-filter:”alpha(opacity=70)”;
  filter:alpha(opacity=70);
  opacity:.70;

}

div#menu ul.menu>li:hover>a span {
   background-color: #ff0000;
   color:#ffffff;
   
}

div#menu ul ul li {
    background: none;
    padding: 0;
}

div#menu ul ul {
    padding-top: 0px;
}

div#menu ul ul a {
    padding: 0;
    height: auto;
    float: none;
    display: block;
    line-height: 26px;
    font-size: 13px;
    color: #d8ebc5;
    z-index: -1;
    padding-left: 0px;
    white-space:  normal;
    margin: 0 0px;
    text-transform: none;
}

div#menu ul ul a:hover {
	width: auto;
    margin: 0 0px;
	background-color:#FF0000
    
}
    
div#menu ul ul a span {
    padding: 0 0px;
    line-height: 26px;
    font-size: 13px;
	width:170px;
	border-bottom:1px solid #d50404;
	
}
div#menu li.main {
	margin: 0px 0px 0px 30px;
}

div#menu ul ul a:hover span {
    padding: 0 0px;
    line-height: 26px;
    font-size: 13px;
	width:170px;
	border-bottom:1px solid #d50404;
	
}

div#menu ul ul span {
    margin-top: 0;
    text-align: left;
}

div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}


div#menu li.main a {

	padding: 15px 0px 0px 20px;
	line-height:75px;
	height:58px;
	text-align:center;
}

div#menu li.main span {
	
	padding: 0px 20px 0px 0px;
	font-size:18px;
	font-weight:normal;
	height:58px;
    width: auto;
	text-align:center;
	font-family: verdana, Tahoma, san-serif, Arial,Trebuchet MS;
	color:#666666
}

div#menu li.main a:hover {
	padding: 0px 0px 0px 20px;
	line-height:75px;
	height:58px;
	background-color: #ff0000;
}

div#menu li.main a:hover span {
	padding: 0px 20px 0px 0px;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	height:58px;
    width: auto;
	font-family: verdana, Tahoma, san-serif, Arial,Trebuchet MS;
	color:#ffffff;
	background-color: #ff0000;
}

div#menu li.main a:hover {
	background-color: #ff0000;
 -khtml-opacity:.70; 
 -moz-opacity:.70; 
 -ms-filter:”alpha(opacity=70)”;
  filter:alpha(opacity=70);
  opacity:.70;
}

div#menu li.main li:hover {
background-color: #ff0000;
 -khtml-opacity:100; 
 -moz-opacity:100; 
 -ms-filter:”alpha(opacity=100)”;
  filter:alpha(opacity=100);
  opacity:1;
}


div#menu li.selected a{
		background-color: #ff0000;
 -khtml-opacity:.70; 
 -moz-opacity:.70; 
 -ms-filter:”alpha(opacity=70)”;
  filter:alpha(opacity=70);
  opacity:.70;
  padding: 15px 0px 0px 20px;
  line-height:75px;
  height:58px;
}
div#menu li.selected li a:hover{
background-color: #F66;
 -khtml-opacity:100; 
 -moz-opacity:100; 
 -ms-filter:”alpha(opacity=100)”;
  filter:alpha(opacity=100);
  opacity:1;
}


div#menu li.selected a span {
	padding: 0px 20px 0px 0px;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	height:58px;
    width: auto;
	font-family: verdana, Tahoma, san-serif, Arial,Trebuchet MS;
	color:#ffffff;
}

div#menu li.selected a:hover {
	background-color: #CCCCCC;
 -khtml-opacity:100; 
 -moz-opacity:100; 
 -ms-filter:”alpha(opacity=100)”;
  filter:alpha(opacity=100);
  opacity:1;

}


div#menu li li a {
 -khtml-opacity:100; 
 -moz-opacity:100; 
 -ms-filter:”alpha(opacity=100)”;
  filter:alpha(opacity=100);
  opacity:1;
  	background-color:#CCCCCC;


}



div#menu li.sub a {
	background-image:none;
	padding: 0px ;
	height:30px;
	width:180px;font-size:13px;
	
}



div#menu li.sub a span {
	background-image:none;
	padding:0px 0px 0px 8px;
	font-size:13px;
	height:29px;
	font-weight:bold;
	text-align:left;
	text-transform: none;
	font-family: Tahoma, san-serif, Arial,Trebuchet MS;
	color:#FFFFFF;
}


div#menu li.sub a:hover {
	background-image:none;
	padding:0px 0px 0px 8px ;
	color:#ffffff;
	font-size:13px;
	height:30px;
 -khtml-opacity:100; 
 -moz-opacity:100; 
 -ms-filter:”alpha(opacity=100)”;
  filter:alpha(opacity=100);
  opacity:1;
  	background-color:#CCC;
	font-weight:bold;
	font-family: Tahoma, san-serif, Arial,Trebuchet MS;

}



div#menu li.sub a:hover span {
	background-image:none;
	text-transform: none;
	font-weight:bold;
	font-size:13px;
	height:30px;
 -khtml-opacity:100; 
 -moz-opacity:100; 
 -ms-filter:”alpha(opacity=100)”;
  filter:alpha(opacity=100);
  opacity:1;
  	background-color:#CCC;
	font-family: Tahoma, san-serif, Arial,Trebuchet MS;
	

}		

/*##################################*/



/*------------------------------------*\
	NAV
\*------------------------------------*/
#nav{
	list-style:none;
	font-weight:bold;
	margin-bottom:0px;
	top:0px;
	/* Clear floats */
	float:left;
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
#nav li{
	float:left;
	margin:0px;
	position:relative;
	padding:5px 0px 0px 1px;
}
#nav a{
	display:block;
	padding:3px 15px 3px 15px;
	color:#000;
	background:#ccc;
	text-decoration:none;
	font-size:14px;
	font-weight:normal
}
#nav a:hover{
	color:#fff;
	background:#999;
	
}

/*--- DROPDOWN ---*/

#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	list-style:none;
	left:0px;
	
}

#nav ul {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;/* Introducing a padding between the li and the a give the illusion spaced items */
	float:left;
	list-style:none;
	left:5px;
	background:#CCC; /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; 
	
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
	left:0px;
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#ccc;
}

#nav li li { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#ccc;
	border-bottom:1px solid #858484;
	font-size:10px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}


#nav li li a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	font-size:11px;
	font-weight:normal;
}



#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#999;
	color:#ffffff;
	border-bottom:0px solid #999;
}

#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#858484;
	color:#fff;
}


#nav li.selected a{
	background-color:#999;
	color:#ffffff
	}
	
#nav li.selected li a{
	background-color:#999;
	}	

