#lastreedemboxcontainer
{
    width:700px;
    height:300px;
    background:#e1e1e1;
    border-radius: 2px;
    border:1px solid #ccc;
    
    margin-left:5px;
    position: relative;
    display:block;
    padding: 5px 5px 5px;
    float:left;
}
#lastreedembox
{
    width:690px;
    height:190px;
    background:#fff;;
    border-radius: 2px;
    border:1px solid #ccc;
    
    position: relative;
    display:block;
    
    float:left;
}

#lastreedem
{
    width:140px;
    height:140px;
    background:#fff;
    border-radius: 2px;
    border:1px solid #ccc;
    
    margin-left:10px;
    position: relative;
    display:block;
    
    float: left;
}
#lastreedemcontainer
{
    width:180px;
    height:70px;
    background:#fff;
    border-radius: 2px;
    border:1px solid #ccc;
    margin-top:0.5%;
    margin-left:10px;
    position: relative;
    display:block;
    padding: 5px 5px 5px  5px;
    float: left;
}
#reedemcontainer
{
    width:690px;
    height:80px;
    background:#fff;
    border-radius: 2px;
    border:1px solid #ccc;
    margin-top:1%;
    color:#428bca;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    
    position: relative;
    display:block;
    padding: 5px 5px 5px;
    float: left;
}