.boxy-wrapper { position: absolute; }
.boxy-wrapper.fixed { position: fixed; }

  /* Modal */
  
 /* .boxy-modal-blackout { position: absolute; background-color: #cccccc; left: 0; top: 0; }*/
 .boxy-modal-blackout {
 background: url(../images/black50.png);
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 999980;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
 }
  /* Border */

 /* .boxy-wrapper { empty-cells: show; }
	.boxy-wrapper .top-left,
	.boxy-wrapper .top-right,
	.boxy-wrapper .bottom-right,
	.boxy-wrapper .bottom-left { width: 10px; height: 10px; padding: 0 }*/
	
	
	
	.block-border {
	border: 1px solid white;
	border-color: rgba(255, 255, 255, 0.75);
	background: url(../images/white20.png);
	background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	-webkit-background-clip: padding-box;
	border-radius: 0.8em;
	-moz-box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
	-webkit-box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
	box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
	}
	.block-border .boxy-wrapper {
		-moz-box-shadow: 0 0 0.8em rgba(255, 255, 255, 0.5);
		-webkit-box-shadow: 0 0 0.8em rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 0.8em rgba(255, 255, 255, 0.5);
	}
	.block-border .boxy-wrappert + .boxy-wrapper {
		margin-top: 0.833em;
	}
.boxy-wrapper .top,
.boxy-wrapper .left,
.boxy-wrapper .right,
.boxy-wrapper .bottom { height: 10px; width:10px }
	
	/*.boxy-wrapper .top-left { background: url('images/boxy-nw.png');opacity: .6;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); filter: alpha(opacity=60);}
	.boxy-wrapper .top-right { background: url('images/boxy-ne.png');opacity: .6;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); filter: alpha(opacity=60); }
	.boxy-wrapper .bottom-right { background: url('images/boxy-se.png');opacity: .6;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); filter: alpha(opacity=60); }
	.boxy-wrapper .bottom-left { background: url('images/boxy-sw.png');opacity: .6;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); filter: alpha(opacity=60); }*/
	
	/* IE6+7 hacks for the border. IE7 should support this natively but fails in conjuction with modal blackout bg. */
	/* NB: these must be absolute paths or URLs to your images */
	/*.boxy-wrapper .top-left {#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-nw.png');opacity: .6;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); filter: alpha(opacity=60); }
	.boxy-wrapper .top-right {#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-ne.png');opacity: .6;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); filter: alpha(opacity=60); }
	.boxy-wrapper .bottom-right {#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-se.png');opacity: .6;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); filter: alpha(opacity=60); }
	.boxy-wrapper .bottom-left {#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-sw.png');opacity: .6;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); filter: alpha(opacity=60); }
	
	.boxy-wrapper .top,
	.boxy-wrapper .bottom { height: 0px; background-color:#9C9C9C; opacity: .6;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); filter: alpha(opacity=60); padding: 0 }
	
	.boxy-wrapper .left,
	.boxy-wrapper .right { width: 0px; background-color:#9C9C9C; opacity: .6;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); filter: alpha(opacity=60); padding: 0 }*/
	
	/* Title bar */
	
	.boxy-wrapper .title-bar { background-color:#B3D3F0; padding:6px 6px 6px 10px; position: relative; }
	  .boxy-wrapper .title-bar.dragging { cursor: move; }
	    .boxy-wrapper .title-bar h2 { font-size: 14px; color: #333333; line-height: 1; margin: 0; padding: 0; font-weight:normal; cursor:move }
	    .boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 90%; line-height: 1; }
		
	/* Content Region */
	
	.boxy-inner { background-color: #FFFFFF; padding: 0 }
	.boxy-content { padding: 15px; }
	
	/* Question Boxes */

    .boxy-wrapper .question { width: 350px; min-height: 80px; }
    .boxy-wrapper .answers { text-align: right; }



